@import url('https://fonts.googleapis.com/css?family=Raleway');

.App {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  background-color: #CC304F;
  color: white;
}

.HomeApp {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  color: black;
}

.nav{
  background-color: #CC304F;
}

.App-header {
  background-color: #000E44;
  min-height: 5%;
  display: flex;
  flex-direction: column;
  font-size: calc(6px + 2vmin);
  color: white;
}

.home{
  padding-left:25px;
  padding-right:25px;
  padding-top:10px;
  padding-bottom:10px;
  border-radius: 20px;
  background-color: #D6BA8A;
  color:#000E44;
  font-size:15px;
  font-weight: bold;
  margin-top:20px;
  margin-left:20px;
  border: none;
}

.transport{
  padding-left:25px;
  padding-right:25px;
  padding-top:10px;
  padding-bottom:10px;
  border-radius: 20px;
  background-color: #D6BA8A;
  color:#000E44;
  font-size:15px;
  font-weight: bold;
  margin-top:20px;
  margin-left:20px;
  border: none;
}

.transportContent{
  text-align: left;
  font-family: 'Raleway', sans-serif;
}

.food{
  padding-left:25px;
  padding-right:25px;
  padding-top:10px;
  padding-bottom:10px;
  border-radius: 20px;
  background-color: #D6BA8A;
  color:#000E44;
  font-size:15px;
  font-weight: bold;
  margin-top:20px;
  margin-left:20px;
  border: none;
}

.attractions{
  padding-left:25px;
  padding-right:25px;
  padding-top:10px;
  padding-bottom:10px;
  border-radius: 20px;
  background-color: #D6BA8A;
  color:#000E44;
  font-size:15px;
  font-weight: bold;
  margin-top:20px;
  margin-left:20px;
  border: none;
}

.dresscode{
  padding-left:25px;
  padding-right:25px;
  padding-top:10px;
  padding-bottom:10px;
  border-radius: 20px;
  background-color: #D6BA8A;
  color:#000E44;
  font-size:15px;
  font-weight: bold;
  margin-top:20px;
  margin-left:20px;
  border: none;
}

.hours{
  padding-left:25px;
  padding-right:25px;
  padding-top:10px;
  padding-bottom:10px;
  border-radius: 20px;
  background-color: #D6BA8A;
  color:#000E44;
  font-size:15px;
  font-weight: bold;
  margin-top:20px;
  margin-left:20px;
  border: none;
}

.maps{
  padding-left:25px;
  padding-right:25px;
  padding-top:10px;
  padding-bottom:10px;
  border-radius: 20px;
  background-color: #D6BA8A;
  color:#000E44;
  font-size:15px;
  font-weight: bold;
  margin-top:20px;
  margin-left:20px;
  border: none;
}

.title{
  margin-top: 60px;
}

.uber{
  width:15%;
}

.lyft{
  width:14%;
  margin-left:10PX;
}
.sidecar{
  width:13%;
  margin-left:10PX;
}

.icons{
  width:80%;
  background-color:#d8d8d8;
  margin-left:10%;
  padding-top:20px;
  padding-bottom:50px;
  border-radius:30px;
}

.taxis{
  width:80%;
  background-color:#d8d8d8;
  margin-left:10%;
  padding-top:20px;
  padding-bottom:50px;
  border-radius:30px;
  margin-top:30px;
}


.ridesharing{
  color: #4c4a4a;
}

.taxi{
  background-color:#4c4a4a;
  padding-left:25px;
  padding-right:25px;
  padding-top:10px;
  padding-bottom:10px;
  border-radius: 20px;
  color:white;
  width:40%;
  font-size:15px;
  font-weight: bold;
  margin-top:20px;
  border:none;
}

body{
  height:1200px;
}

p{
  width:80%;
  margin-left:10%;
  color:#000E44;
}

input{
  border-width:5px;
  border-color: black;
  margin-left:auto;
  margin-right:auto;
  display: flex;
  flex-direction: column;
  padding: 20px;
  width:50%;
}

.title{
  text-align:center;
}

.titleMain{
  text-align:center;
}

.signin{
  background-color:black;
  color:white;
  padding: 10px;
  margin-left:auto;
  margin-right:auto;
  display: flex;
  flex-direction: column;
  width: 20%;
  text-align: center;
}

.hotel{
  width:80%;
  height: 500px;
}

.map{
  width:100%;
}

h2{
  margin-top:50px;
}

.h2ul{
  padding-left: 20px;
}

.mall{
  width:100%;
}

.mallButton{
  width:20%;
  padding: 15px;
  margin-top:10px;
  border-radius: 30px;
  color: white;
  background: #3a6186;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #89253e, #3a6186);
background: linear-gradient(to right, #89253e, #3a6186);
border: none;

}

.box{
  background-color:white;
  width:40%;
  padding: 10px;
  margin-top:200px;
  margin-left:30%;
}

h1{
  font-weight: 900;
}

.title{
  color:white;
}

h2{
  color:white;
  text-align:center;
}

.WhiteHouse{
  width:40%;
  margin-left:-50%;
  margin-top: 50px;
  border-radius: 30px;
}

.HouseText{
  width:40%;
  margin-left: 50%;
  margin-top: -150px;
}

.Subway{
  width:40%;
  margin-left:-50%;
  margin-top: 180px;
  border-radius: 30px;
}

.SubText{
  width:40%;
  margin-left: 50%;
  margin-top: -150px;
  position:absolute;
}

.Pizza{
  width:40%;
  margin-left:-40%;
  margin-top: 600px;
  border-radius: 30px;
  position:absolute;
}

.Logo{
  position:absolute;
  height: 10%;
  width: 10%;
}

.ZaText{
  width:40%;
  margin-left: 50%;
  margin-top: 240px;
  position:absolute;
}

h3{
  color:white;
}

.dress{
  width:100%;
  margin-top:30px;
}

ul{
  list-style-position: inside;
  color:#000E44;
}

.burger{
  width:60%;
}

p{
  font-weight:bold;
}

.paralaxtext{
  color:black;
}

a{
  color:#000E44;
  font-weight: bold;
}

.divContent {
  padding: 50px;
  margin: 25px;
  background-color: #D6BA8A;
  color:#000E44;
}
